/NhlStatistics1/.nb-gradle/
/NhlStatistics1/build/
/NhlStatistics1/.gradle/
/NhlStatistics1/*.tmp
/RiippuvuuksienInjektointi1/.nb-gradle/
/RiippuvuuksienInjektointi1/build/
/RiippuvuuksienInjektointi1/.gradle/
/RiippuvuuksienInjektointi1/*.tmp
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1/build/
/Verkkokauppa1/.gradle/
/Verkkokauppa1/*.tmp
/nhlreader/.nb-gradle/
/nhlreader/build/
/nhlreader/.gradle/
/nhlreader/*.tmp
/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/HelloCucumber/.gradle/
/HelloCucumber/*.tmp
/LoginCucumber/.nb-gradle/
/LoginCucumber/.gradle/
/LoginCucumber/build/
/LoginCucumber/*.tmp/