/NhlStatistics1/.nb-gradle/
/NhlStatistics1/build/
/NhlStatistics1/.gradle/
/NhlStatistics1/*.tmp
/RiippuvuuksienInjektointi1/.nb-gradle/
/RiippuvuuksienInjektointi1/build/
/RiippuvuuksienInjektointi1/.gradle/
/RiippuvuuksienInjektointi1/*.tmp